{{- if and (eq .chezmoi.os "darwin") (or (not (hasKey . "hasGUI")) (get . "hasGUI")) }}
[".hammerspoon/Spoons/ControlEscape.spoon"]
type = "git-repo"
url = "https://github.com/jasonrudolph/ControlEscape.spoon"
refreshPeriod = "168h"
{{- end }}
