[user]
	name = Niels Mentink
	email = niels.mentink@gmail.com
[includeIf "gitdir:~/Code/Socialbrothers/"]
	path = .sb.gitconfig

[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false
	path = nvim

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	path = nvim
[diff]
	tool = vimdiff
[core]
	excludesfile = /Users/nielsmentink/.gitignore-system
[pull]
	rebase = false
