#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "age"
brew "git"
brew "bat"
brew "btop"
brew "chezmoi"
brew "exa"
brew "fd"
brew "figlet"
brew "fzf"
brew "git-delta"
brew "go"
brew "jq"
brew "lolcat"
brew "zoxide"
brew "starship"
brew "lf"
brew "rbenv"
brew "gh"
EOF
